@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;600;700&display=swap");

/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:root {
  --accent-blue: #0066b2;
  --accent-blue-darker: #175280;
  --error: #962c2c;
  --error-darker: #7e2020;
  --primary-light: #fafafa;
  --border-radius: 12px;
  --text-shadow: "4px 4px 6px rgba(--accent-dark, 0.4)";
}

html,
body {
  font-family: "Raleway", sans-serif;
  background-image: -o-linear-gradient(
    340.4deg,
    rgba(156, 252, 248, 1) 11.2%,
    rgba(110, 123, 251, 1) 91.1%
  );
  background-image: linear-gradient(
    109.6deg,
    rgba(156, 252, 248, 1) 11.2%,
    rgba(110, 123, 251, 1) 91.1%
  );
}

p,
span {
  font-size: 12px;
  line-height: 18px;
}

h2 {
  font-size: 14px;
  line-height: 21px;
  color: rgb(56, 56, 56);
}

a {
  text-decoration: none;
  color: white;
}

label {
  text-align: left;
  padding: 0.5rem 0 0.5rem 1rem;
  font-size: 14px;
}

input {
  border: 0;
  outline: 0;
  height: 48px;
  border-radius: 25px;
  width: 90%;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  padding: 0 0.5rem;
}

input::-webkit-input-placeholder {
  color: #9999;
}

input::-moz-placeholder {
  color: #9999;
}

input:-ms-input-placeholder {
  color: #9999;
}

input::-ms-input-placeholder {
  color: #9999;
}

input::placeholder {
  color: #9999;
}

select {
  font-family: "Raleway", sans-serif;
  border: 0;
  outline: 0;
  cursor: pointer;
  background-color: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  text-align: -webkit-center;
  text-indent: 25px hanging;
}

select:visited {
  color: none;
  background-color: none;
}

button {
  outline: 0;
  border: 0;
  cursor: pointer;
  font-family: "Raleway", sans-serif;
}

/* general */
.margin-1 {
  margin: 1rem 0;
}

.margin-2 {
  margin: 2rem 0;
}

.margin-left {
  margin-left: 25px !important;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

/* App */

.App {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.popup {
  background: white;
  position: absolute;
  top: 0;
  padding: 0.5rem 1rem;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
  -ms-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.icon {
  margin: 0 0.3rem;
}

/* layout */

.grid-container {
  display: -ms-grid;
  display: grid;
  width: min(95%, 60rem);
  min-height: 100vh;
  row-gap: 1.5rem;
  justify-items: center;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  text-align: center;
  padding: 5rem 0;
}

.bookmarks-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  width: 100%;
}

/* modal */

.modal-background {
  width: 100%;
  height: 100vh;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.6);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-filter: drop-shadow(2px 4px 6px black);
  filter: drop-shadow(2px 4px 6px black);
  top: 0;
}

/* button */

.buttons-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  width: 100%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.btn {
  border-radius: 25px;
  background-color: transparent;
  -webkit-transition: 0.2s all ease-in-out;
  -o-transition: 0.2s all ease-in-out;
  transition: 0.2s all ease-in-out;
  width: 100px;
  height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: var(--accent-blue);
  margin: 0 1rem;
  text-align: center;
  text-transform: uppercase;
  color: white;
  font-weight: 600;
  text-align: -webkit-center;
}

.open {
  background-color: var(--accent-blue);
  height: 100%;
  width: 50px;
  -webkit-transition: 0.2s all ease-in-out;
  -o-transition: 0.2s all ease-in-out;
  transition: 0.2s all ease-in-out;
  text-transform: uppercase;
}

.open:hover {
  background-color: var(--accent-blue-darker);
}

.open:hover > .link {
  color: white;
}

.delete {
  background-color: var(--error);
  color: white;
  width: 50px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
  -webkit-transition: 0.2s all ease-in-out;
  -o-transition: 0.2s all ease-in-out;
  transition: 0.2s all ease-in-out;
}

.delete:hover {
  background-color: var(--error-darker);
}

.form-delete {
  position: absolute;
  top: 0;
  right: 0;
  background-color: var(--error);
  height: 30px;
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: white;
  border-top-right-radius: 12px;
  cursor: pointer;
  -webkit-transition: 0.2s all ease-in-out;
  -o-transition: 0.2s all ease-in-out;
  transition: 0.2s all ease-in-out;
  padding: 1rem;
}

.form-delete:hover {
  background-color: var(--error-darker);
}

.desktop {
  display: none;
}

/* form */

.form-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  background-image: -o-linear-gradient(
    340.4deg,
    rgba(156, 252, 248, 1) 11.2%,
    rgba(110, 123, 251, 1) 91.1%
  );
  background-image: linear-gradient(
    109.6deg,
    rgba(156, 252, 248, 1) 11.2%,
    rgba(110, 123, 251, 1) 91.1%
  );
  width: 500px;
  max-width: 95%;
  border-radius: 12px;
  position: relative;
}

.input-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  margin: 0.5rem 0;
}

.error {
  margin-left: 10px;
  color: var(--error);
}

/* card */

.card {
  background-color: var(--primary-light);
  -webkit-box-shadow: 4px 6px 6px rgba(0, 0, 0, 0.4);
  box-shadow: 4px 6px 6px rgba(0, 0, 0, 0.4);
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 1rem 0;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 55px;
}

.card-cat {
  height: 100%;
  color: white;
  width: 10px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.category-text {
  display: none;
}

.card-info {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: left;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-left: 10px;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  width: 160px;
}

/* category fill colors */
/* style new category values HERE */

.css {
  background-color: #cf60f1;
}

.react {
  background-color: #18931d;
}

.design {
  background-color: #c3b437;
}

.js {
  background-color: #339de0;
}

.frontend {
  background-color: #f19c4d;
}

/* media queries */

@media screen and (min-width: 768px) {
  p,
  span {
    font-size: 12px;
    line-height: 18px;
  }
  select {
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    text-indent: 70px hanging;
  }
  label {
    font-size: 12px;
  }

  h2 {
    font-size: 18px;
    line-height: 27px;
  }
  .category-text {
    display: block;
  }
  .card-cat {
    width: 100px;
  }
  .card-info {
    text-align: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .truncate {
    width: auto;
  }
  .card-text {
    margin-left: 10px;
  }
  .card {
    border-radius: 12px;
  }
  .card-cat {
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
  }
  .open {
    width: 100px;
  }
  .delete {
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
  }

  .btn {
    background-color: transparent;
    border: 2px solid white;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    width: 200px;
  }

  .btn:hover {
    background-color: var(--accent-blue);
    border-color: var(--accent-blue);
  }

  .desktop {
    display: block;
  }

  .mobile {
    display: none;
  }
}

@supports (-webkit-touch-callout: none) {
  select {
    text-align: -webkit-center;
    text-indent: 25px hanging;
  }
}
