@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;600;700&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: #eff1c5;
  --accent-blue: #035e7b;
  --accent-dark: #002e2c;
  --primary-light: #fafafa;
  --primary-dark: #181818;
  --border-radius: "4px 4px 6px rgba(--accent-dark, 0.4)";
}

body {
  font-family: "Raleway", sans-serif;
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: var(--bg-color);
}

.App {
  display: grid;
  width: min(95%, 50rem);
  min-height: 100vh;
  row-gap: 1.5rem;
  justify-items: center;
  align-content: center;
  text-align: center;
  border: 1px solid black;
}
